---
---

<section class="my-interest">
  <h4>WHAT I LIKE</h4>
  <ol type="1">
    <li>
      Most of my free time is spent on music (bass, piano) and theatrical
      improvisation, an exciting activity that allows me to develop my
      creativity and my oral fluency
    </li>
    <li>
      I consider this scene from The Office to be the funniest video in the
      world.
    </li>
    <li>
      Most of my free time is spent on music (bass, piano) and theatrical
      improvisation, an exciting activity that allows me to develop my
      creativity and my oral fluency
    </li>
    <li>
      I consider this scene from The Office to be the funniest video in the
      world.
    </li>
  </ol>
</section>

<style>
  .my-interest {
    width: 90%;
    margin-inline: auto;
  }
  h4 {
    font-size: var(--fs-lg);
  }
</style>
