---
import span from "../assets/recruitment.png";
import Button from "../components/Button.astro";
import Title from "../components/Title.astro";
const title = {
  text: "about me",
  subtext: "-my introduction-",
};
---

<section id="about-me" class="about-me" aria-label="About Me">
  <Title {title} />
  <div class="container">
    <!-- <div class="about-img">
      <img src={profile} alt="abir pictures " />
    </div> -->
    <div class="about-info">
      <h3>
        I enjoy creating <span>simple</span> & <span>visually</span> appealing products.
      </h3>
      <div class="info">
        <p class="first">
          Hello my name is abir hasan, I like to build scalable frontend
          products with great user experiences with some the best modern web
          frameworks I’m a front-end developer who possesses a genuine passion
          for addressing customer pain points. My expertise lies in utilizing
          modern frameworks and tools to create high-performance and
          user-friendly products that cater to specific customer needs.
        </p>
        <p class="seconad">
          I am a front-end developer who possesses a genuine passion for
          addressing customer pain points. My expertise lies in utilizing modern
          frameworks and tools to create high-performance and user-friendly
          products that cater to specific customer needs. In my opinion, success
          in this industry is largely dependent on remaining agile, adaptable,
          and consistently up-to-date with emerging trends and standards.
          Drawing on my comprehensive knowledge of the latest technologies, I am
          able to design and implement robust front-end solutions that surpass
          expectations in terms of efficiency and effectiveness. I work
          diligently, both independently and as part of a team, to produce
          exceptional outcomes that boost business growth and enhance the user
          experience.
        </p>
      </div>
      <Button type="button" text="Checkout My Resume" span={span} />
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-inline: auto;
    margin-block: 2em;
  }
  .about-img {
    width: 35%;
    position: relative;
    z-index: 2;
  }
  .about-img::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(var(--clr-primary), 0.6);
    z-index: 5;
    content: "";
    inset: 0;
  }

  .about-info {
    width: 90%;
  }
  .about-info h3 {
    font-size: var(--fs-lg);
    font-family: var(--font-secondary);
    text-transform: uppercase;
  }
  .about-info h3 > span {
    color: hsl(var(--clr-accent), 0.8);
    text-decoration: underline;
  }

  .info > p {
    font-family: var(--font-primary);
    font-size: var(--fs-semi);
    margin-block: 1em;
  }
  @media (max-width: 600px) {
    .container {
      width: 90%;
      margin-inline: auto;
      justify-content: center;
      gap: 4rem;
    }
    .about-img {
      width: 100%;
    }
    .about-img > img {
      width: 90%;
    }
    .about-info {
      width: 100%;
    }
    .about-info > p {
      font-size: var(--fs-md);
    }
  }
</style>
