---
import Hamburger from "../components/Hamburger.astro";
import { navData } from "../data/data.js";
---

<header class="item-center" id="header">
  <div class="container">
    <a href="/">
      <div class="logo">Abir Hasan⚡</div>
    </a>
    <nav class="navbar">
      {
        navData.map((link) => (
          <a href={link.path} id="nav-item">
            {link.name}
          </a>
        ))
      }
    </nav>
    <div class="menu-btn acive">
      <Hamburger />
    </div>
  </div>
</header>
<style>
  header {
    min-height: 80px;

    display: grid;
    place-items: center;
    width: 100%;
  }
  header.active {
    position: fixed;
    top: 0;
    background-color: hsl(var(--clr-accent), 1);
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
    margin-inline: auto;
  }

  .logo {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: var(--fs-regular);
    width: 15vw;
    line-height: 120%;
    color: hsl(var(--clr-white));
    font-weight: 600;
  }
  nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }
  a {
    color: hsl(var(--clr-white));
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--fs-sm);
    font-family: var(--font-secondary);
    transition: color 300ms cubic-bezier(0.17, 1.01, 0.84, 0.04);
  }
  a:is(:hover, :focus) {
    color: hsl(var(--clr-accent));
  }
  a.active {
    font-weight: 500;
    color: hsl(var(--clr-accent));
  }

  .menu-btn {
    display: none;
  }

  @media (max-width: 600px) {
    header {
      position: fixed;
      inset: 0;
      top: 0;
      width: 100%;
      height: 120px;
      background-color: hsl(var(--clr-primary));
      border: 1px solid hsla(var(--clr-accent), 0.1);
      z-index: 999;
    }
    .container {
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .navbar {
      flex-direction: column;
      position: absolute;
      top: 119px;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: hsl(var(--clr-accent));
      width: 100%;
      left: -101%;
      z-index: 999;
      height: 200vh;
      transition: left 300ms ease-in;
    }
    .navbar.active {
      left: 0;
    }
    .logo {
      font-size: var(--fs-lg);
      scale: 0.8;
      width: 80vw;
    }
    .navbar > a {
      font-size: var(--fs-lg);
      padding-left: 3.5rem;
      font-weight: 600;
    }
    .navbar > a:is(:hover, :focus) {
      color: hsl(var(--clr-primary));
    }
    a:first-child {
      /* padding-top: 1.5em; */
    }
    .menu-btn {
      display: block;
    }
  }
</style>

<script accesskey="">
  const openMenu = document.querySelector(".openMenu");
  const menuBtn = document.querySelector(".menu-btn");
  const navbar = document.querySelector(".navbar");
  const navItem = document.querySelector("#nav-item");
  menuBtn.addEventListener("click", () => {
    navbar.classList.toggle("active");
  });
  navItem.addEventListener("click", () => {
    navbar.classList.toggle("active");
  });

  const header = document.querySelector("#header");
</script>
