---
import Project from "../components/Project.astro";
import { projectsData } from "../data/data";
---

<section class="projects" id="projects" aria-label="Projects Section">
  <div id="cursor">
    <i id="trailer-icon" class="fa-solid fa-arrow-up-right"></i>
  </div>
  <h2>Take a look at my latest <span>portfolio projects</span></h2>
  <div class="project-container">
    {projectsData.map((project) => <Project project={project} />)}
  </div>
</section>

<style>
  .projects {
    position: relative;
  }
  h2 {
    text-align: center;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: var(--fs-lg);
    padding: 0 2rem;
  }
  span {
    display: block;
    color: hsla(var(--clr-accent), 0.5);
  }
  .project-container {
    margin-block: 2rem;
  }

  @media (max-width: 600px) {
    h2 {
      font-size: var(--fs-lg);
    }
  }
</style>
