---
import { Image } from "@astrojs/image/components";
import serviceImg from "../assets/service.png";
import ServiceItem from "../components/ServiceItem.astro";
import Title from "../components/Title.astro";
import { serviceData } from "../data/data";
const title = {
  text: "my expertise",
  subtext: "- An overview of my Technical Skills -",
};
---

<section class="service" id="service" aria-label="Service Section">
  <Title {title} />
  <div class="container">
    <div class="service-info">
      {serviceData.map((item) => <ServiceItem {item} />)}
    </div>
    <div class="serice-image">
      <Image
        src={serviceImg}
        alt="service images"
        height={450}
        width={1000}
        fit="cover"
        format="avif"
        class={"serivce-img-main"}
      />
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    width: 90%;
    margin-inline: auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .serice-image {
    width: 35%;
    position: relative;
  }

  .service-info {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    gap: 1rem;
  }
  .serice-image-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 350px;
  }
  @media (max-width: 600px) {
    .container {
      gap: 2rem;
      flex-direction: column-reverse;
    }
    .serice-image {
      width: 100%;
    }
    .service-info {
      width: 100%;
    }
  }
</style>
