@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;800&display=swap");
@font-face {
  font-family: "Panchang-Variable";
  src: url("../fonts/Panchang-Variable.woff2") format("woff2"),
    url("../fonts/Panchang-Variable.woff") format("woff"),
    url("../fonts/Panchang-Variable.ttf") format("truetype");
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --font-primary: "Syne", sans-serif;
  --font-secondary: "Panchang-Variable";

  /* colors  */
  --clr-primary: 224, 45%, 6%;
  --clr-accent: 38, 63%, 56%;
  --clr-white: 0, 0%, 100%;
  --clr-black: 0, 0%, 0%;
  /* font size  */
  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-regular: 18px;
  --fs-semi: 22px;
  --fs-md: 24px;
  --fs-lg: 36px;
  --fs-xl: 46px;
  --fs-2xl: 64px;
  /* border radius  */
  --radius: 10px;
  --radius1: 20px;
}
body {
  font-family: var(--font-primary);
  max-width: 1440px;
  margin-inline: auto;
  font-size: 62.6%;
  background-color: hsla(var(--clr-primary));
  overflow-wrap: break-word;
  line-height: 1.5;
  color: hsl(var(--clr-white));
  height: 100%;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}

.item-center {
  display: grid;
  place-items: center;
}
.item-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
