@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  /* colors  */
  --clr-primary: 224, 45%, 6%;
  --clr-accent: 38, 63%, 56%;
  --clr-white: 0, 0%, 100%;
  --clr-black: 0, 0%, 0%;
  /* font size  */
  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-regular: 18px;
  --fs-semi: 22px;
  --fs-md: 24px;
  --fs-lg: 36px;
  --fs-xl: 46px;
  --fs-2xl: 64px;
  /* border radius  */
  --radius: 10px;
  --radius1: 20px;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  width: 100%;
  background-color: hsl(var(--clr-primary));
  display: grid;
  place-items: center;
  padding: 0;
  margin: 0;
  color: hsl(var(--clr-white));
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: var(--font-primary);
  font-weight: 400;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* overflow-wrap: break-word; */
}

section {
  /* min-height: 100vh; */
  margin-block: 4em;
}

a {
  text-decoration: none;
  color: currentColor;
}
