---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde nemo earum
    consectetur iste impedit, facere harum quibusdam facilis dignissimos quidem
    quisquam dolorum voluptas aliquam blanditiis, maxime molestiae! Aspernatur
    voluptatum officia tenetur inventore repellendus id similique earum saepe
    amet rerum, quod necessitatibus aliquid consequuntur doloribus quis libero
    nostrum. Itaque, dolorum. Et.
  </p>
</MainLayout>
