---
import profile from "../assets/Github Profile 1.png";
import Button from "../assets/components/Button.astro";
import Title from "../assets/components/Title.astro";
import span from "../assets/recruitment.png";
const title = {
  text: "about me",
  subtext: "my introduction",
};
---

<section id="about-me" class="about-me" aria-label="About Me">
  <Title {title} />
  <div class="container">
    <div class="about-img">
      <img src={profile} alt="abir pictures " />
    </div>
    <div class="about-info">
      <h3>i’m a <span>frontend developer</span> from chattogram bangladesh</h3>
      <p>
        I'm a front-end developer with a genuine interest in solving customer
        problems, who has strong knowledge of modern frameworks and tools for
        building high-performance user-friendly products. As a front-end
        developer, I bring a combination of technical expertise, creativity, and
        problem-solving skills to every project. My passion lies in using modern
        frameworks and tools to build high-performance and user-friendly
        products that meet the unique needs of customers. I believe that the key
        to success in this field is to remain agile, adaptable, and constantly
        learning. With a deep understanding of the latest industry trends and
        standards, I am well-equipped to develop robust and efficient front-end
        solutions that exceed expectations. Whether working independently or as
        part of a team, I am committed to delivering outstanding results that
        drive business growth and enhance the user experience.
      </p>
      <Button type="button" text="Checkout My Resume" span={span} />
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-inline: auto;
  }
  .about-img {
    width: 40%;
  }
  .about-img > img {
    width: 70%;
    border: 10px solid hsl(var(--clr-white), 0.5);
    border-radius: 20px;
    margin-inline: auto;
  }
  .about-info {
    width: 55%;
  }
  .about-info h3 {
    font-size: var(--fs-md);
    font-family: var(--font-secondary);
    text-transform: uppercase;
  }
  .about-info h3 > span {
    color: hsl(var(--clr-accent), 0.8);
    text-decoration: underline;
  }
  .about-info p {
    font-family: var(--font-primary);
    margin-block: 1em;
    font-size: var(--fs-regular);
  }

  @media (max-width: 600px) {
    .container {
      justify-content: center;
      gap: 4rem;
    }
    .about-img {
      width: 100%;
    }
    .about-img > img {
      width: 90%;
    }
    .about-info {
      width: 100%;
    }
    .about-info > p {
      font-size: var(--fs-md);
    }
  }
</style>
