---
const { type, text, span } = Astro.props;
---

<button type={type}
  >{text} <span><img src={span} alt="" width="24" /></span></button
>

<style>
  button {
    background: hsl(var(--clr-accent));
    border: 1px solid hsl(var(--clr-accent));
    font-family: var(--font-secondary) !important;
    text-transform: uppercase;
    font-weight: 700;
    height: 8vh;
    width: 15vw;
    font-size: var(--fs-lg);
    font-weight: 700 !important;
    color: hsl(var(--clr-secondary));
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 400ms cubic-bezier(0, 0.2, 0.23, 1.07);
  }
  button:hover {
    background-color: hsla(var(--clr-accent), 0.7);
  }

  button:hover img {
    animation-play-state: paused;
  }
  button > span > img {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
</style>
