---
import footerImg from "../assets/footer.png";
import { SITE_TITLE } from "../consts";
---

<footer>
  <img src={footerImg} alt=" a illustration with image gif " />
  <p>{SITE_TITLE}. All rights reserved</p>
  <nav class="secondary-nav">
    <a href="/about">About</a>
    <a href="/works">works</a>
    <a href="/">recommendation</a>
  </nav>
</footer>
<style>
  footer {
    text-align: center;
    text-transform: uppercase;
    margin: 0rem auto;
    width: 650px;
    min-height: 70vh;
    display: grid;
    place-items: center;
    -webkit-animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    padding-bottom: 0;
  }

  img {
    width: 70%;
    margin: 0 auto;
    object-fit: cover;
    z-index: -1;
  }
  p {
    font-family: var(--font-primary);
    font-size: var(--fs-regular);
  }

  .secondary-nav {
    display: flex;
    justify-content: center;
    width: 550px;
    margin: 0 auto;
    margin-top: 1rem;
    gap: 1rem;
  }
  a {
    text-decoration: none;
    color: hsl(var(--clr-white));
    font-size: var(--fs-xs);
    transition: color 300ms ease;
  }
  a :is(:hover, :focus) {
    color: hsl(var(--clr-accent));
  }
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
</style>
