---
import { navData } from "../data/data";
import HeaderLink from "./HeaderLink.astro";
---

<header class="item-center">
  <div class="container">
    <div class="logo">Abir Hasan</div>
    <nav class="">
      {
        navData.map((link) => (
          <HeaderLink href={link.path}>{link.name}</HeaderLink>
        ))
      }
    </nav>
  </div>
</header>
<style>
  header {
    min-height: 80px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-inline: auto;
  }

  .logo {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: var(--fs-regular);
    width: 10%;
    line-height: 120%;
  }
  nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
</style>
