---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Footer from "../section/Footer.astro";
import Nav from "../section/Nav.astro";
import HeadLayout from "./HeadLayout.astro";
---

<!DOCTYPE html>
<html lang="en">
  <HeadLayout title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Nav />

    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
